/* code-like highlights are too large here */
.highlight {
	padding: 0 !important;
}

td.rouge-gutter.gl {
    padding: 0;
}

.highlight pre {
    margin: 0;
}

/* no line numbers */
.highlight pre.lineno {
    display: none;
}