<span class="mobile btn-mobile-menu">
  <i class="icon icon-list btn-mobile-menu__icon"></i>
  <i class="icon icon-x-circle btn-mobile-close__icon hidden"></i>
</span>

<header class="panel-cover" style="background-image: url({{ site.baseurl }}/images/back.jpg)">
  <div class="panel-main">

    <div class="panel-main__inner panel-inverted">
    <div class="panel-main__content">
        <a href="{{ site.baseurl }}/" title="home">
          <!-- <img src="{{ site.baseurl }}/images/cv.jpg" class="user-image" alt="Mattia Setzu"> -->
          <!-- <h1 class="panel-cover__title panel-title">{{ site.title }}</h1> -->
        </a>
        <hr class="panel-cover__divider">
        <p class="panel-cover__description"><a href="{{ site.baseurl }}/">{{ site.description }}</a></p>
        <hr class="panel-cover__divider panel-cover__divider--secondary">
        <a href="{{ site.baseurl }}/#blog" title="data insight" class="read blog-button no-border">read</a> ~ 
        <a href="{{ site.baseurl }}/about" title="data insight" class="read blog-button no-border">about</a>
        <hr class="panel-cover__divider panel-cover__divider--secondary">

        <!-- <div class="navigation-wrapper"> -->

          <nav class="cover-navigation cover-navigation--primary">
            <ul class="navigation ">

              {% if site.author.linkedin_username %}
                <!-- LinkedIn -->
                <li class="navigation__item icon">
                  <a class="no-border" href="https://www.linkedin.com/in/{{ site.author.linkedin_username }}" title="{{ site.author.linkedin_username }} on LinkedIn" target="_blank">
                    <i class="fa fa-linkedin"></i>
                    <!-- <span class="label">LinkedIn</span> -->
                  </a>
                </li>
              {% endif %}

              {% if site.author.github_username %}
                <!-- GitHub -->
                <li class="navigation__item icon">
                  <a class="no-border"  href="https://www.github.com/{{ site.author.github_username }}" title="{{ site.author.github_username }} on GitHub" target="_blank">
                    <!-- <i class="icon icon-social-github"></i> -->
                    <i class="fa fa-github"></i>
                    <!-- <span class="label">GitHub</span> -->
                  </a>
                </li>
              {% endif %}
            </ul>
          </nav>


          <nav class="cover-navigation cover-navigation--primary">
            <ul class="navigation ">
              {% if site.author.email %}
              <!-- Email -->
              <li class="navigation__item icon">
                <a class="no-border"  href="mailto:{{ site.author.email }}" title="Email {{ site.author.email }}" target="_blank">
                  <i class="fa fa-envelope"></i>
                  <!-- <span class="label">Email</span> -->
                </a>
              </li>
              {% endif %}
              <!-- Curriculum vitae -->
              <li class="navigation__item icon">
                <a class="no-border" href="{{ site.baseurl }}/cv" title="Curriculum Vitae" target="_blank">
                  <i class="fa fa-newspaper-o"></i>
                  <!-- <span class="label">Email</span> -->
                </a>
              </li>
            </ul>
          </nav>

          </br>

        <!-- </div> -->

      </div>

    </div>

    <div class="panel-cover--overlay"></div>
  </div>
</header>
